html, body, #root {
    height: 100%;
    margin: 0;
    background-color: rgb(202, 129, 69);
}
.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.content {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}