html, body, #root {
    height: 100%;
    margin: 0;
}
.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 249, 212)
}
.content {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}