.bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 13px;
    
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}