.header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    margin: 0;
}
.header h3 {
    cursor: pointer;
    font-size: 30px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header input {
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: rgb(231, 231, 231);
    padding-left: 20px;
    font-size: 15px;
}

.iconBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}