.header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    margin: 0;
    background-color: ivory;
}
.header h3 {
    cursor: pointer;
    font-size: 30px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header input {
    width: 380px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: lightgray;
    padding-left: 20px;
    font-size: 15px;
}

.iconBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
}