.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
}
.header input {
    width: 260px;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-color: rgb(231, 231, 231);
    padding-left: 20px;
    font-size: 15px;
}
.iconBtn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}