.header { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    top: 0;
    margin: 0;
    padding: 18px;
    background-color: white;
}
.header button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header input {
    width: 380px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: lightgray;
    padding-left: 20px;
    font-size: 15px;
}

.iconBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
}