.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.menu {
    position: absolute;
    left: 80px;
    right: 80px;
    bottom: 20px;
    z-index: 10;
    border: none;
    background-color: white;
    box-shadow: 0 0 8px #555555;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}
.menuIcon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.category {
    position: absolute;
    left: 80px;
}
.category button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}