.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.menu {
    position: absolute;
    left: 80px;
    right: 80px;
    bottom: 20px;
    z-index: 10;
    border: none;
    background-color: white;
    box-shadow: 0 0 8px #555555;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}
.menuIcon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.category {
    position: absolute;
    left: 20px;
    top: 40px;
}
.category button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px #555555;
    background-color: lightgray;
    cursor: pointer;
}
.categoryli {
    border: none;
    border-radius: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: rgb(255, 208, 214);
    padding: 24px;
}
.categoryli li {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.select {
    color: coral;
}