.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.menu {
    position: absolute;
    left: 80px;
    right: 80px;
    bottom: 20px;
    z-index: 10;
    border: none;
    background-color: ivory;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    padding: 12px;
}
.menuIcon{
    border: none;
    background-color: transparent;
    cursor: pointer;
}