.card {
  position: absolute;
  bottom: 30%;
  right: 20%;
  width: 360px;
  height: 420px;
  background-color: white;
  border-radius: 20px;
  padding: 32px;
  box-shadow: 0 2px 8px gray;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  
}
.header p {
  font-size: 15px;
  margin: 0;
  color: rgb(80, 80, 80);
}
.header h2 {
  margin-top: 15px;
}

.closeBtn {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}