.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    background-color: white;
}
.header {
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.storeInfo {
    margin: 25px;
    padding: 16px;
    border-bottom: 2px solid rgb(228, 228, 228);
    display: flex;
}

.firstInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heartBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}